.idea/
__pycache__/*
*.py[cod]
*.db
.DS_Store
.coverage
.~*
manage.py
*.swp
*.sqlite3*
*~
*.log
core/settings/austin_master.py
core/settings/fremont.py.demo
htmlcov/*
test_connection.tcl
testdata.tar.gz
testdata/
pysosd/jobs/store/*.yaml
