[Unit]
Description=Job that launches the script controlling the cobpc test website
After=network.target

[Service]
Type=simple
Restart=on-failure
Group=cobpc
User=cobpc
ExecStart=/home/cobpc/website/deploy/service_demon.sh

[Install]
WantedBy=multi-user.target