{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center bg-warning mb-3">
                <div class="card-header">
                    All content here is provisional
                </div>
                <div class="card-body">
                    This site is under construction and is here for testing and development purposes only.
                </div>
            </div>
            <p>Any domain name/url we own can be used to reference this. I can run it on one of my existing servers.
                We may be able to use the server currently being used for the website depending upon access/contract.</p>
            <p>This is a web service built using Django. Its good for customization and extension (much better than
                Wordpress) but requires a bit more work initially. Like Wordpress, there are many third party additions.</p>
            <p>I've not applied much in the way of styling but it can be styled however we like - everything is under
                our control.</p>
            <p>This can:</p>
            <ul>
                <li>Be accessed as a link from the main site - which can go straight to login (unless persisted).</li>
                <li>Replace the original site if we add blogging/news etc.</li>
            </ul>
        </div>
    </div>
{% endblock content %}